<%# add navigation links to this file %>

             <li><a href="#" class="button">Link 1</a></li>
             <li><a href="#" class="button">Link 2</a></li>
             <li><a href="#" class="button">Link 3</a></li>
             <li><a href="#" class="button">Link 4</a></li>