<%# navigation styled for Zurb Foundation 5 %>


      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
			<%= render 'layouts/navigation_links' %>
            </ul>
          </div>
          <%= render 'layouts/messages' %>
          <h1>Blog <small>This is my blog. It's awesome.</small></h1>
          <hr/>
        </div>
      </div>